@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
  --primary-color: #DCFF5F;
  --primary-font-size: 70px;
  --secondary-font-size: 50px;
  --button-font-size: 20px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-color);
  --font-size-primary: var(--primary-font-size);
  --font-size-secondary: var(--secondary-font-size);
  --font-size-button: var(--button-font-size);
  --font-clashDisplay: var(--font-clashDisplay);
  --font-satoshi: var(--font-satoshi);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

span {
  text-transform: lowercase !important;
}

@layer utilities {

  .arrow-icon-container {
    display: none;
    transition: display 0.3s ease-in, max-width 0.3s ease-in, padding 0.3s ease-in;
  }

  /* Hover state (Visible) */
  .service-box:hover .arrow-icon-container {
    display: block;
  }

  .services-content {
    backdrop-filter: blur(10px);
  }

  .characters {
    position: relative;
    font-size: 20rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2);
    /* text slightly visible */
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.05em;
  }

  .characters span {
    position: relative;
    z-index: 1;
  }

  /* Glow inside text */
  .characters::before {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    background: radial-gradient(160px circle at var(--x, 50%) var(--y, 50%),
        rgba(255, 255, 255, 0.8),
        transparent 40%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    z-index: 1;
    opacity: 0;
    /* hidden by default */
    transition: opacity 0.2s ease;
  }

  .characters:hover::before {
    opacity: 1;
  }


  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section-border {
    margin-top: -22%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom: 1px solid transparent;
    background: linear-gradient(180deg, #292639 50%, #111111 94%) padding-box,
      linear-gradient(to top, #B7A9F4, #1f1d2800) border-box;
  }

  @media (max-width: 420px) {
    .section-border {
      padding-top: 400px !important;
    }
  }

  @media (max-width: 530px) {
    .section-border {
      padding-top: 450px;
    }
  }

  @media (min-width: 640px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1140px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1320px;
    }
  }

  @media (max-width: 1536px) {
    .circle-item {
      width: 78px !important;
      height: 80px !important;
    }

    .semi-circle img:nth-child(2) {
      transform: translate(-4%, 260%) !important;
    }

    .semi-circle img:nth-child(3) {
      transform: translate(60%, 400%) !important;
    }

    .semi-circle img:nth-child(4) {
      transform: translate(172%, 534%) !important;
    }

    .semi-circle img:nth-child(5) {
      transform: translate(320%, 642%) !important;
    }

    .semi-circle img:nth-child(6) {
      transform: translate(522%, 730%) !important;
    }

    .semi-circle img:nth-child(7) {
      transform: translate(795%, 728%) !important;
    }

    .semi-circle img:nth-child(8) {
      transform: translate(1010%, 640%) !important;
    }

    .semi-circle img:nth-child(9) {
      transform: translate(1173%, 533%) !important;
    }

    .semi-circle img:nth-child(10) {
      transform: translate(1266%, 400%) !important;
    }

  }

  @media (max-width: 1279px) {
    .testimonial-circle {
      height: 570px !important;
    }

    .circle-item {
      width: 68px !important;
      height: 70px !important;
    }

    .semi-circle img:nth-child(2) {
      transform: translate(-4%, 260%) !important;
    }

    .semi-circle img:nth-child(3) {
      transform: translate(60%, 400%) !important;
    }

    .semi-circle img:nth-child(4) {
      transform: translate(172%, 534%) !important;
    }

    .semi-circle img:nth-child(5) {
      transform: translate(330%, 656%) !important;
    }

    .semi-circle img:nth-child(6) {
      transform: translate(522%, 730%) !important;
    }

    .semi-circle img:nth-child(7) {
      transform: translate(745%, 728%) !important;
    }

    .semi-circle img:nth-child(8) {
      transform: translate(950%, 650%) !important;
    }

    .semi-circle img:nth-child(9) {
      transform: translate(1113%, 533%) !important;
    }


    .semi-circle img:nth-child(10) {
      transform: translate(1216%, 400%) !important;
    }

    .semi-circle img:nth-child(11) {
      transform: translate(1281%, 255%) !important;
    }

    .semi-circle img:nth-child(12) {
      transform: translate(1313%, 110%) !important;
    }
  }

  @media (max-width: 1024px) {
    .testimonial-circle {
      height: 450px !important;
    }

    .circle-item {
      width: 48px !important;
      height: 50px !important;
    }

    .semi-circle img:nth-child(12) {
      transform: translate(1383%, 110%) !important;
    }

    .semi-circle img:nth-child(11) {
      transform: translate(1351%, 255%) !important;
    }

    .semi-circle img:nth-child(10) {
      transform: translate(1286%, 400%) !important;
    }

    .semi-circle img:nth-child(9) {
      transform: translate(1193%, 563%) !important;
    }

    .semi-circle img:nth-child(8) {
      transform: translate(1040%, 710%) !important;
    }

    .semi-circle img:nth-child(7) {
      transform: translate(805%, 818%) !important;
    }

    .semi-circle img:nth-child(6) {
      transform: translate(542%, 821%) !important;
    }

    .semi-circle img:nth-child(5) {
      transform: translate(330%, 724%) !important;
    }

    .semi-circle img:nth-child(4) {
      transform: translate(152%, 566%) !important;
    }

  }

  @media (max-width: 640px) {
    .testimonial-circle {
      height: 260px !important;
    }

    .circle-item {
      width: 28px !important;
      height: 30px !important;
    }

    .semi-circle img:nth-child(6) {
      transform: translate(542%, 801%) !important;
    }

    .semi-circle img:nth-child(7) {
      transform: translate(765%, 798%) !important;
    }

    .semi-circle img:nth-child(8) {
      transform: translate(970%, 720%) !important;
    }

    .semi-circle img:nth-child(9) {
      transform: translate(1133%, 573%) !important;
    }

    .semi-circle img:nth-child(10) {
      transform: translate(1246%, 410%) !important;
    }

    .semi-circle img:nth-child(11) {
      transform: translate(1301%, 255%) !important;
    }

    .semi-circle img:nth-child(11) {
      transform: translate(1301%, 255%) !important;
    }
  }
}









/* Container */
.grid-background {
  position: absolute;
  width: 100%;
  height: 58%;
  overflow: hidden;
  bottom: 0;
}

/* -------------------------- */
/*      VERTICAL GRID LINES    */
/* -------------------------- */

.v-lines {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.v-line {
  position: relative;
  width: 1px;
  margin: 0 auto;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.08) 40%,
      rgba(255, 255, 255, 0.04) 100%);
}

/* Drop (shooting streak) */
.drop {
  position: absolute;
  bottom: 0;
  left: -1.5px;
  width: 4px;
  height: 40px;

  background: linear-gradient(to bottom,
      rgba(130, 94, 255, 1) 0%,
      rgba(130, 94, 255, 0.3) 60%,
      rgba(130, 94, 255, 0) 100%);

  border-radius: 50% / 100%;

  filter: drop-shadow(0 0 6px #b99aff);

  animation: moveUp 2s linear infinite;
}

/* -------------------------- */
/*      HORIZONTAL GRID LINES  */
/* -------------------------- */

.h-lines {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  gap: 8rem;
}

.h-line {
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.08) 50%,
      rgba(255, 255, 255, 0.04) 100%);
}

/* -------------------------- */
/*      DROP ANIMATION         */
/* -------------------------- */

@keyframes moveUp {
  0% {
    bottom: 0;
    opacity: 0;
    transform: scaleY(0.5);
  }

  10% {
    opacity: 1;
    transform: scaleY(1);
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
    transform: scaleY(1);
  }

  100% {
    bottom: 100%;
    opacity: 0;
    transform: scaleY(0.5);
  }
}



.semi-circle {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
}

.circle-item {
  position: absolute;
  cursor: pointer;
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}

.semi-circle img:nth-child(1) {
  transform: translate(-36%, 115%);
}

.semi-circle img:nth-child(2) {
  transform: translate(15%, 260%);
}

.semi-circle img:nth-child(3) {
  transform: translate(105%, 400%);
}

.semi-circle img:nth-child(4) {
  transform: translate(243%, 534%);
}

.semi-circle img:nth-child(5) {
  transform: translate(400%, 622%);
}

.semi-circle img:nth-child(6) {
  transform: translate(572%, 660%);
}

.semi-circle img:nth-child(7) {
  transform: translate(795%, 660%);
}

.semi-circle img:nth-child(8) {
  transform: translate(955%, 610%);
}

.semi-circle img:nth-child(9) {
  transform: translate(1115%, 535%);
}

.semi-circle img:nth-child(10) {
  transform: translate(1235%, 400%);
}

.semi-circle img:nth-child(11) {
  transform: translate(1315%, 260%);
}

.semi-circle img:nth-child(12) {
  transform: translate(1363%, 110%);
}